<a href="https://colab.research.google.com/github/varshithakatta23/45/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Basic Python Fundamentals**

In [ ]:
# 1. Write a Python program to declare a variable x with the value 10 and print its type.
x=10
print(type(x))

<class 'int'>

In [ ]:
# 2.Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
d=a+b+c
print(d)

30

In [ ]:
# 3.Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
a=23
b=35.8
c="varshitha"
(print(type(a)))
(print(type(b)))
(print(type(c)))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# 4. Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=10
b=15
print("Addition :", a+b)
print("Subtraction:", a-b)
print("Multiplication:" ,a*b)
print("division:", a/b)
print("modulus:", a%b)

Addition : 25
Subtraction: -5
Multiplication: 150
division: 0.6666666666666666
modulus: 10

In [ ]:
# 5. Write a Python program to convert a string "123" to an integer and a float and print the results.
my_string = "123"
my_int = int(my_string)
type(my_int)
my_float = float(my_string)
type(my_float)

float

In [ ]:
# 6. Write a Python program to print the first character of a given string. (User input for the string)
def first_char(a):
    return a[0]

input_string = "Varshitha"
print(first_char(input_string))

V

In [ ]:
# 7.Write a Python program to print the length of a string. (User input for the string)
word = "I AM A STUDENT"
print(len(word))

14

In [ ]:
#8. Write a Python program to check if a given string contains only alphabets.
word_str = "varshithakatta"
print(word_str)
if word_str.isalpha():  # Added parentheses for isalpha() method call
    print("string contains only alphabets")  # Indented print statement under if
else:
    print("string does not contain only alphabets")  # Indented print statement under else

varshithakatta
string contains only alphabets

In [ ]:
## 9. Write a Python program to concatenate two strings. (User input for the strings)
str1 = "I'm"
str2 = "Varshitha K"
result = str1 + " " + str2
print(result)

I'm Varshitha K

In [ ]:
# 10. Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
s = "alphabets are abc"
index = s.find("abc")
print(index)

14

In [ ]:
# 11 . Write a Python program to convert a string to both uppercase and lowercase
name = "Varshitha"
name.upper()
name.lower()

'varshitha'

In [ ]:
# 12. Write a Python program to count how many times a particular character appears in a string.
name = "VARSHITHA KATTA"
name.count("A")

4

In [ ]:
# 13.  Write a Python program to take the user's name as input and print a personalized greeting.
name = input("Enter your name: ")
print("Hello, " + name +  "Good Morning.")

Enter your name: varshitha
Hello, varshithaGood Morning.

In [ ]:
# 14. Write a Python program to take two numbers as input and print their sum.
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
sum = num1 + num2
print("The sum of", num1, "and", num2, "is", sum)

Enter the first number: 10
Enter the second number: 50
The sum of 10 and 50 is 60

In [ ]:
# 15.Write a Python program to format and display a string containing the user's name and age.
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print("I',m {} my age is {} years .".format(name, age))

Enter your name: varshitha
Enter your age: 21
I',m varshitha my age is 21 years .

# **Control Structures (Conditionals and Loops)**

In [ ]:
# 16. Write a Python program that takes a number as input and checks whether it is positive, negative, or zero
num = int(input("Enter a NUMBER: "))
if num > 0:
    print("The number is POSITIVE(+).")
elif num < 0:
    print("The number is NEGATIVE(-).")
else:
    print("The number is ZERO(0).")

Enter a NUMBER: 23
The number is POSITIVE(+).

In [ ]:
# 17.Write a Python program to find the maximum of three numbers.
p = int(input("Enter first number: "))
q = int(input("Enter second number: "))
r = int(input("Enter third number: "))

print("Maximum of three numbers is:", max(p, q, r))

Enter first number: 20
Enter second number: 25
Enter third number: 98
Maximum of three numbers is: 98

In [ ]:
#18. Write a Python program to check if a year is a leap year.
year = int(input("Enter a year: "))
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

Enter a year: 2023
2023 is not a leap year

In [ ]:
# 19.Write a Python program to check if a number is divisible by both 3 and 5.
num = int(input("Enter a number: "))
if num % 3 == 0 and num % 5 == 0:
    print("The number is divisible by both 3 and 5.")

Enter a number: 15
The number is divisible by both 3 and 5.

In [ ]:
# 20. Write a Python program to check if a string is a palindrome
string  = input("enter a string")
if string == string[::-1]:
  print("THE STRING IS PALINDROME")
else:
  print("THE STRTING IS NOT PALINDROME")

enter a stringVARSHITHA
THE STRTING IS NOT PALINDROME

In [ ]:
# 21 . Write a Python program to print numbers from 1 to 10 using a for loop.
num = 0
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 22.  Write a Python program to print all even numbers from 1 to 20 using a while loop.
num = 0
while num <= 20:
    if num % 2 == 0:
        print(num)
    num += 1

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
# 23. Write a Python program to print the multiplication table of a given number using a for loop
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(num, "x", i, "=", num*i)

Enter a number: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
# 24 . Write a Python program to calculate the sum of all numbers from 1 to n using a while loop.
num = int(input("Enter a number: "))
sum = 0
i = 1
while i <= num:
    sum += i
    i += 1
print(sum)
   # sum += i
    #i += 1
print("The sum of all numbers from 1 to", num, "is", sum)

Enter a number: 23
276
The sum of all numbers from 1 to 23 is 276

In [ ]:
# 25.Write a Python program to calculate the factorial of a number using a while loop
num = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= num:
    factorial *= i
    i += 1
print("The factorial of", num, "is", factorial)

Enter a number: 10
The factorial of 10 is 3628800

In [ ]:
# 26. Write a Python program to print the Fibonacci sequence up to n terms.
n = int(input("Enter the number of terms: "))
num1 = 0
num2 = 1
next_number = num2
count = 1

while count <= n:
    print(next_number, end=" ")
    count += 1
    num1, num2 = num2, next_number
    next_number = num1 + num2
print()

Enter the number of terms: 23
1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368

In [ ]:
# 27.Write a Python program to find all the prime numbers from 1 to 100.
for num in range(1, 101):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
#28. Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
num = int(input("Enter a number: "))

for num in numbers:
    if num > 50:
        print(f"NUMBER GREATER THAN 50: {num}")
        break
    print(num)

print("Loop exited")

Enter a number: 75
10
20
30
40
NUMBER GREATER THAN 50: 60
Loop exited

In [ ]:
#29.Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop
for num in range(1, 21):
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# 30.  Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
string = input("Enter a string: ")
character = input("Enter a character: ")
name = 0
for char in string:
    if char == character:
        name += 1
print(f"The character '{character}' appears {name} times in the string '{string}'.")

Enter a string: varshithabhaskar
Enter a character: a
The character 'a' appears 4 times in the string 'varshithabhaskar'.

In [ ]:
#31. Write a Python program to calculate the sum of digits of a number. (User input for the number)
num = int(input("Enter a number: "))
sum = 0
while num > 0:
    digit = num % 10
    sum += digit
    num //= 10
print("The sum of digits is:", sum)

Enter a number: 23
The sum of digits is: 5

# **Data Structures (Lists, Tuples, Sets, Dictionaries)**

In [ ]:
#32.Write a Python program to create a list of integers and print the sum of the elements.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum = 0
for num in my_list:
    sum += num
print("The sum of the elements is:", sum)

The sum of the elements is: 55

In [ ]:
#33. Write a Python program to find the largest element in a list
my_list = [1, 10, 75, 85, 101, 562,]
largest = my_list[0]
for num in my_list:
    if num > largest:
        largest = num
print("The largest element is:", largest)

The largest element is: 562

In [ ]:
#34.Write a Python program to reverse a list.
my_list = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
reversed_list = my_list[::-1]
print(reversed_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 35. Write a Python program to remove all occurrences of a specific element from a list.
my_list = [1, 2, 3, 1, 5, 2, 8, 3, 1, 2, 9, 2, 4]
element = 1
my_list = [x for x in my_list if x != element]
print(my_list)

[2, 3, 5, 2, 8, 3, 2, 9, 2, 4]

In [ ]:
# 36.  Write a Python program to find the index of an element in a list.
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
element = 30
index_element = my_list.index(element)
print(index_element)

2

In [ ]:
# 37.  Write a Python program to find if a specific element exists in a list.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
element = 5
if element in my_list:
    print(f"The element {element} exists in the list.")

The element 5 exists in the list.

In [1]:
#38. Write a Python program to remove duplicates from a list.
my_list = [1, 2, 3, 1, 5, 2, 8, 3, 1, 2, 9, 2, 4]
my_list = list(set(my_list))
print(my_list)

[1, 2, 3, 4, 5, 8, 9]

In [3]:
#39. Write a Python program to count the occurrences of an element in a list.
my_list = [1, 2, 3, 1, 5, 2, 8, 3, 1, 2, 9, 2, 4]
element = 2
count = my_list.count(element)
print(count)

4

In [4]:
#40.Write a Python program to get the number of even numbers in a list.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
count = 0
for num in my_list:
    if num % 2 == 0:
        count += 1
print(count)

5

In [5]:
#41. Write a Python program to create a tuple and print it.
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [8]:
#42 .  Write a Python program to convert a tuple to a list and vice versa.
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print(my_list)
my_tuple = tuple(my_list)
print(my_tuple)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [11]:
#43. Write a Python program to find the maximum and minimum values in a tuple.
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
maximum = max(my_tuple)
minimum = min(my_tuple)
print("maximum value: ", maximum)
print("minimum value:", minimum)

maximum value:  10
minimum value: 1

In [12]:
#44. Write a Python program to unpack a tuple into variables.
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a)
print(b)
print(c)

1
2
3

In [13]:
#45. Write a Python program to add an element to a set and check if an element exists in the set.
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print(my_set)
element = 3
if element in my_set:
    print(f"The element {element} exists in the set.")

{1, 2, 3, 4, 5, 6}
The element 3 exists in the set.

In [14]:
#46.  Write a Python program to create a dictionary with keys and values and print it.
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
print(my_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [15]:
#47. Write a Python program to access a dictionary value using a key.
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
name = my_dict["name"]
print(name)
age = my_dict["age"]
print(age)

Alice
30

In [16]:
#48.  Write a Python program to check if a key exists in a dictionary.
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
key = 'b'
if key in my_dict:
    print(key, "exists in the dictionary")

b exists in the dictionary

In [17]:
#49. Write a Python program to merge two dictionaries.
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'d': 4, 'e': 5, 'f': 6}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [18]:
#50. Write a Python program to remove a key from a dictionary.
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
del my_dict['a']
print(my_dict)

{'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [19]:
#51. Write a Python program to get the number of keys in a dictionary.
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
num_keys = len(my_dict)
print(num_keys)

5

In [20]:
#52.Write a Python program to find the largest and smallest values in a dictionary.
my_dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
largest_value = max(my_dict.values())
smallest_value = min(my_dict.values())
print("Largest value:", largest_value)
print("Smallest value:", smallest_value)

Largest value: 50
Smallest value: 10

# **Functions (User-Defined, Arguments, Keyword Arguments, Return Values)**

In [21]:
#53. Write a Python function that returns the square of a number.
def square(num):
    return num ** 2
result = square(5)
print(result)

25

In [22]:
#54. Write a Python function that accepts two parameters and returns their sum.
def add_numbers(a, b):
    return a + b
result = add_numbers(5, 10)
print(result)

15

In [24]:
#55. Write a Python function to check if a given number is prime.
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
    result = is_prime(7)
print(result)

15

In [25]:
#56. Write a Python function to calculate the factorial of a number using recursion.
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
result = factorial(5)
print(result)

120

In [26]:
#57. Write a Python function to calculate the power of a number using recursion.
def power(base, exponent):
    if exponent == 0:
        return 1
    else:
        return base * power(base, exponent - 1)
result = power(2, 3)
print(result)

8

In [27]:
#58. Write a Python function to accept a list and return its length without using the built-in len() function
def list_length(lst):
    count = 0
    for _ in lst:
        count += 1
    return count
result = list_length([1, 2, 3, 4, 5])
print(result)

5

In [28]:
# 59. Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.
def sum_positional_arguments(*args):
    total = 0
    for arg in args:
        total += arg
    return total
result = sum_positional_arguments(1, 2, 3, 4, 5)
print(result)

15

In [29]:
#60. Write a Python function to find the maximum of two numbers using keyword arguments.
def find_max(a, b):
    if a > b:
        return a
    else:
        return b
result = find_max(b=10, a=5)
print(result)

10

In [30]:
#61. Write a Python function that accepts a list of numbers and returns their product.
def product_of_numbers(numbers):
    product = 1
    for num in numbers:
        product *= num
    return product
result = product_of_numbers([1, 2, 3, 4, 5])
print(result)

120

In [32]:
#62.  Write a Python function to check if a number is even or odd using the modulo operator.
def even_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"
result = even_odd(7)
print(result)

Odd

In [33]:
#63. Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
#64.  Write a Python program to filter out all even numbers from a list using list comprehension.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [35]:
#65. Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.
words = ["apple", "banana", "cherry", "date", "elderberry", "fig"]
long_words = [word for word in words if len(word) > 4]
print(long_words)

['apple', 'banana', 'cherry', 'elderberry']

In [36]:
#66. Write a Python program to create a list of all uppercase letters in a string using list comprehension.
string = "Hello, World!"
uppercase_letters = [char for char in string if char.isupper()]
print(uppercase_letters)

['H', 'W']

In [38]:
#67. Write a Python program to generate the first n Fibonacci numbers using list comprehension.
def fibonacci_sequence(n):
  if n <=0:
    return []
  fibonacci = [0, 1]
  [fibonacci.append(fibonacci[-1] + fibonacci[-2]) for _ in range(2, n)]
  return fibonacci
result = fibonacci_sequence(10)
print(result)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [39]:
#68.Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.
squares_dict = {x: x**2 for x in range(1, 11)}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [40]:
#69.  Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.
keys = ['a', 'b', 'c', 'd']
values = [1, 2, 3, 4]
my_dict = {key: value for key, value in zip(keys, values)}
print(my_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [41]:
#70. Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.
cubes_dict = {x: x**3 for x in range(1, 6)}
print(cubes_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [42]:
#71. Write a Python program to square each element of a list using the map() function.
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [43]:
#72. Write a Python program to filter all even numbers from a list using the filter() function.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6, 8, 10]

In [44]:
#73. Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.
is_divisible_by_3_and_5 = lambda x: x % 3 == 0 and x % 5 == 0
result = is_divisible_by_3_and_5(15)
print(result)

True

In [45]:
#74. Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().
numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x * 2, numbers))
print(doubled_numbers)

[2, 4, 6, 8, 10]

In [47]:
#75. Write a Python program to remove all occurrences of a specific element from a list.
def remove_all_occurrences(my_list, element_to_remove):
    modified_list = [element for element in my_list if element != element_to_remove]
    return modified_list
my_list = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2
updated_list = remove_all_occurrences(my_list, element_to_remove)
print(f"Original list: {my_list}")
print(f"Updated list: {updated_list}")

Original list: [1, 2, 3, 2, 4, 2, 5]
Updated list: [1, 3, 4, 5]