<a href="https://colab.research.google.com/github/varshithakatta23/45/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Write a Python program to declare a variable x with the value 10 and print its type.
x=10
print(type(x))

<class 'int'>

In [ ]:
# 2.Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
d=a+b+c
print(d)

30

In [ ]:
# 3.Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
a=23
b=35.8
c="varshitha"
(print(type(a)))
(print(type(b)))
(print(type(c)))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# 4. Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=10
b=15
print("Addition :", a+b)
print("Subtraction:", a-b)
print("Multiplication:" ,a*b)
print("division:", a/b)
print("modulus:", a%b)

Addition : 25
Subtraction: -5
Multiplication: 150
division: 0.6666666666666666
modulus: 10

In [ ]:
# 5. Write a Python program to convert a string "123" to an integer and a float and print the results.
my_string = "123"
my_int = int(my_string)
type(my_int)
my_float = float(my_string)
type(my_float)

float

In [ ]:
# 6. Write a Python program to print the first character of a given string. (User input for the string)
def first_char(a):
    return a[0]

input_string = "Varshitha"
print(first_char(input_string))

V

In [ ]:
# 7.Write a Python program to print the length of a string. (User input for the string)
word = "I AM A STUDENT"
print(len(word))

14

In [ ]:
#8. Write a Python program to check if a given string contains only alphabets.

word_str = "varshithakatta"
print(word)
if word_str.is_alpha:
print("string contains only alphabets")
else
print("string does not contain only alphabets")

IndentationError: expected an indented block after 'if' statement on line 5 (<ipython-input-2-334665edab5f>, line 6)

In [ ]:
## 9. Write a Python program to concatenate two strings. (User input for the strings)
str1 = "I'm"
str2 = "Varshitha K"
result = str1 + " " + str2
print(result)

I'm Varshitha K

In [ ]:
# 10. Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
s = "alphabets are abc"
index = s.find("abc")
print(index)

14

In [ ]:
# 11 . Write a Python program to convert a string to both uppercase and lowercase
name = "Varshitha"
name.upper()
name.lower()

'varshitha'

In [ ]:
# 12. Write a Python program to count how many times a particular character appears in a string.