<a href="https://colab.research.google.com/github/varshithakatta23/45/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
print(type(x))

<class 'int'>

In [ ]:
#Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
d=a+b+c
print(d)

30

In [ ]:
#Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
a=23
b=35.8
c="varshitha"
(print(type(a)))
(print(type(b)))
(print(type(c)))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
## Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=10
b=15
print("Addition :", a+b)
print("Subtraction:", a-b)
print("Multiplication:" ,a*b)
print("division:", a/b)
print("modulus:", a%b)

Addition : 25
Subtraction: -5
Multiplication: 150
division: 0.6666666666666666
modulus: 10

In [5]:
## Write a Python program to convert a string "123" to an integer and a float and print the results.
my_string = "123"
my_int = int(my_string)
type(my_int)
my_float = float(my_string)
type(my_float)

float

In [7]:
# Write a Python program to print the first character of a given string. (User input for the string)
def first_char(a):
    return a[0]

input_string = "Varshitha"
print(first_char(input_string))

V