<a href="https://colab.research.google.com/github/varshithakatta23/45/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Basic Python Fundamentals**

In [ ]:
# 1. Write a Python program to declare a variable x with the value 10 and print its type.
x=10
print(type(x))

<class 'int'>

In [ ]:
# 2.Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
d=a+b+c
print(d)

30

In [ ]:
# 3.Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
a=23
b=35.8
c="varshitha"
(print(type(a)))
(print(type(b)))
(print(type(c)))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# 4. Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=10
b=15
print("Addition :", a+b)
print("Subtraction:", a-b)
print("Multiplication:" ,a*b)
print("division:", a/b)
print("modulus:", a%b)

Addition : 25
Subtraction: -5
Multiplication: 150
division: 0.6666666666666666
modulus: 10

In [ ]:
# 5. Write a Python program to convert a string "123" to an integer and a float and print the results.
my_string = "123"
my_int = int(my_string)
type(my_int)
my_float = float(my_string)
type(my_float)

float

In [ ]:
# 6. Write a Python program to print the first character of a given string. (User input for the string)
def first_char(a):
    return a[0]

input_string = "Varshitha"
print(first_char(input_string))

V

In [ ]:
# 7.Write a Python program to print the length of a string. (User input for the string)
word = "I AM A STUDENT"
print(len(word))

14

In [14]:
#8. Write a Python program to check if a given string contains only alphabets.
word_str = "varshithakatta"
print(word_str)
if word_str.isalpha():  # Added parentheses for isalpha() method call
    print("string contains only alphabets")  # Indented print statement under if
else:
    print("string does not contain only alphabets")  # Indented print statement under else

varshithakatta
string contains only alphabets

In [ ]:
## 9. Write a Python program to concatenate two strings. (User input for the strings)
str1 = "I'm"
str2 = "Varshitha K"
result = str1 + " " + str2
print(result)

I'm Varshitha K

In [ ]:
# 10. Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
s = "alphabets are abc"
index = s.find("abc")
print(index)

14

In [ ]:
# 11 . Write a Python program to convert a string to both uppercase and lowercase
name = "Varshitha"
name.upper()
name.lower()

'varshitha'

In [ ]:
# 12. Write a Python program to count how many times a particular character appears in a string.
name = "VARSHITHA KATTA"
name.count("A")

4

In [ ]:
# 13.  Write a Python program to take the user's name as input and print a personalized greeting.
name = input("Enter your name: ")
print("Hello, " + name +  "Good Morning.")

Enter your name: varshitha
Hello, varshithaGood Morning.

In [ ]:
# 14. Write a Python program to take two numbers as input and print their sum.
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
sum = num1 + num2
print("The sum of", num1, "and", num2, "is", sum)

Enter the first number: 10
Enter the second number: 50
The sum of 10 and 50 is 60

In [ ]:
# 15.Write a Python program to format and display a string containing the user's name and age.
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print("I',m {} my age is {} years .".format(name, age))

Enter your name: varshitha
Enter your age: 21
I',m varshitha my age is 21 years .

# ** Control Structures (Conditionals and Loops) **

In [ ]:
# 16. Write a Python program that takes a number as input and checks whether it is positive, negative, or zero
num = int(input("Enter a NUMBER: "))
if num > 0:
    print("The number is POSITIVE(+).")
elif num < 0:
    print("The number is NEGATIVE(-).")
else:
    print("The number is ZERO(0).")

Enter a NUMBER: 23
The number is POSITIVE(+).

In [ ]:
# 17.Write a Python program to find the maximum of three numbers.
p = int(input("Enter first number: "))
q = int(input("Enter second number: "))
r = int(input("Enter third number: "))

print("Maximum of three numbers is:", max(p, q, r))

Enter first number: 20
Enter second number: 25
Enter third number: 98
Maximum of three numbers is: 98

In [ ]:
#18. Write a Python program to check if a year is a leap year.
year = int(input("Enter a year: "))
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

Enter a year: 2023
2023 is not a leap year

In [ ]:
# 19.Write a Python program to check if a number is divisible by both 3 and 5.
num = int(input("Enter a number: "))
if num % 3 == 0 and num % 5 == 0:
    print("The number is divisible by both 3 and 5.")

Enter a number: 15
The number is divisible by both 3 and 5.

In [ ]:
# 20. Write a Python program to check if a string is a palindrome
string  = input("enter a string")
if string == string[::-1]:
  print("THE STRING IS PALINDROME")
else:
  print("THE STRTING IS NOT PALINDROME")

enter a stringVARSHITHA
THE STRTING IS NOT PALINDROME

In [ ]:
# 21 . Write a Python program to print numbers from 1 to 10 using a for loop.
num = 0
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 22.  Write a Python program to print all even numbers from 1 to 20 using a while loop.
num = 0
while num <= 20:
    if num % 2 == 0:
        print(num)
    num += 1

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
# 23. Write a Python program to print the multiplication table of a given number using a for loop
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(num, "x", i, "=", num*i)

Enter a number: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
# 24 . Write a Python program to calculate the sum of all numbers from 1 to n using a while loop.
num = int(input("Enter a number: "))
sum = 0
i = 1
while i <= num:
    sum += i
    i += 1
print(sum)
   # sum += i
    #i += 1
print("The sum of all numbers from 1 to", num, "is", sum)

Enter a number: 23
276
The sum of all numbers from 1 to 23 is 276

In [1]:
# 25.Write a Python program to calculate the factorial of a number using a while loop
num = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= num:
    factorial *= i
    i += 1
print("The factorial of", num, "is", factorial)

Enter a number: 10
The factorial of 10 is 3628800

In [30]:
# 26. Write a Python program to print the Fibonacci sequence up to n terms.
n = int(input("Enter the number of terms: "))
num1 = 0
num2 = 1
next_number = num2
count = 1

while count <= n:
    print(next_number, end=" ")
    count += 1
    num1, num2 = num2, next_number
    next_number = num1 + num2
print()

Enter the number of terms: 23
1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368

In [31]:
# 27.Write a Python program to find all the prime numbers from 1 to 100.
for num in range(1, 101):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [38]:
#28. Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
num = int(input("Enter a number: "))

for num in numbers:
    if num > 50:
        print(f"NUMBER GREATER THAN 50: {num}")
        break
    print(num)

print("Loop exited")

Enter a number: 75
10
20
30
40
NUMBER GREATER THAN 50: 60
Loop exited

In [39]:
#29.Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop
for num in range(1, 21):
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9
11
13
15
17
19

In [42]:
# 30.  Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
string = input("Enter a string: ")
character = input("Enter a character: ")
name = 0
for char in string:
    if char == character:
        name += 1
print(f"The character '{character}' appears {name} times in the string '{string}'.")

Enter a string: varshithabhaskar
Enter a character: a
The character 'a' appears 4 times in the string 'varshithabhaskar'.

In [43]:
#31. Write a Python program to calculate the sum of digits of a number. (User input for the number)
num = int(input("Enter a number: "))
sum = 0
while num > 0:
    digit = num % 10
    sum += digit
    num //= 10
print("The sum of digits is:", sum)

Enter a number: 23
The sum of digits is: 5